body {
  color: #990000; 
  background-color: white; 
  font-family: "Helvetica", sans-serif;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  color: black;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
}

#logo_text {
  display: block;
  color: #990000; 
  background-color: white; 
  font-family: "Helvetica", sans-serif; 
  font-size: 40px;
  text-align: center;
}

#logo_img {
  display: block;
  margin: auto;
  width:252px; 
  height:205px;
}

/* Making page navigation not look like a table of links */
#page_nav {
  list-style-type: none;
  margin-left: -10%;
  padding: 0px;
  background-color: #990000;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
} 

.pageNav_item {
  float: left; /* resizing to align left */
}

.pageNav_item a {
  display: block;
  padding: 15px;
  color: white; /*white font on navigation bar */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

/* page_link font color changes to gold when user hovers */
.pageNav_item a:hover {
  color: #ffcc00;
  background-color: #800000;
}